<div class="container">


 <form method='post' action='/notes'>
    Note: <input name="title"><br>
    Content: <input name="content"><br>
    <br>
    <button>Add Note</button>
    <br>
  </form>

</div>
